@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-nvim-bg: #1c1c1c;
  --color-nvim-fg: #d0d0d0;
  --color-nvim-gray: #4e4e4e;
  --color-nvim-blue: #5fafd7;
  --color-nvim-green: #87d787;
  --color-nvim-statusline: #303030;
}

body {
  @apply bg-nvim-bg text-nvim-fg font-mono;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-nvim-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-nvim-gray rounded;
}
