---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold mb-8 text-nvim-blue">Get in touch!</h1>
    <div class="text-center">
      <p class="mb-4">version 0.0.1</p>
      <p class="mb-2">If you have any questions or would like to get in touch, please use the contact information below:</p>
      <p class="mb-4">hi [at] albertoperdomo [dot] me</p>
    </div>
  </div>
</Layout>
