---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Session Closed">
  <div class="h-screen grid grid-cols-3">
    <div class="col-start-2 flex items-center justify-center">
      <div class="text-center">
        <h1 class="text-3xl font-bold mb-4 text-nvim-blue">Web Session Closed!</h1>
        <p class="text-lg mb-2">Your web session has been successfully closed.</p>
        <p class="text-lg">You can now safely close this tab.</p>
      </div>
    </div>
  </div>
</Layout>